{% extends "vmbsite/base.html" %}

{% block title %}Database{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Database</h1>
        <p class="lead">Manually modify database entries.</p>
    </div>
</div>

<div class="row">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Table Name</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Members</td>
            <td><a href="{% url 'vmb:member_db' %}" type="button" id="submit-btn" class="btn btn-primary w-100">View</a></td>
        </tr>
        <tr>
            <td>Uniform Inventory</td>
            <td><a href="{% url 'vmb:uniform_db' %}" type="button" id="submit-btn" class="btn btn-primary w-100">View</a></td>
        </tr>
        <tr>
            <td>Instrument Inventory</td>
            <td><a href="{% url 'vmb:instrument_db' %}" type="button" id="submit-btn" class="btn btn-primary w-100">View</a></td>
        </tr>
        <tr>
            <td>Instrument Rental</td>
            <td><a href="{% url 'vmb:instrument_rental_db' %}" type="button" id="submit-btn" class="btn btn-primary w-100">View</a></td>
        </tr>
        <tr>
            <td>Uniform Rental</td>
            <td><a href="{% url 'vmb:uniform_rental_db' %}" type="button" id="submit-btn" class="btn btn-primary w-100">View</a></td>
        </tr>
    </tbody>
    </table>
</div>

{% endblock %}
