{% extends "vmbsite/base.html" %}

{% block title %}Member DB{% endblock %}

{% load static %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/members.js' %}"></script>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Member DB</h1>
    </div>
</div>

<div class="row">
    <form id="member-form">
        {% csrf_token %}
        <div class="d-flex gap-2 align-items-center">
            <input type="text" id="search_box" class="form-control w-50" name="search_box" placeholder="Vandal #, First Name, or Last Name">
            <button type="submit" id="submit-btn" class="btn btn-primary w-25">Search</button>
            <button type="button" class="btn btn-success w-25" data-bs-toggle="modal" data-bs-target="#addMemberModal">
                Add
            </button>
        </div>
    </form>
</div>

<hr>

<div class="row">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Vandal #</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr data-id="{{ member.vandal_number }}">
            <td>{{ member.vandal_number }}</td>
            <td><input type="text" class="form-control first-name" value="{{ member.first_name }}"></td>
            <td><input type="text" class="form-control last-name" value="{{ member.last_name }}"></td>
            <td><button class="btn btn-primary update-btn w-100">Apply</button></td>
            <td><button class="btn btn-danger delete-btn w-100">Delete</button></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center text-muted">No members found in the database.</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMemberModalLabel">Add New Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="{% url 'vmb:member_db' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3">
            <label for="vandal_id" class="form-label">Vandal #</label>
            <input type="text" class="form-control" id="vandal_id" name="vandal_id" placeholder="V01234567" required>
          </div>
          <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Joe" required>
          </div>
          <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Vandal" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="add_member" class="btn btn-success">Save Member</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}