{% load static %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <a href="{% url 'vmb:index' %}">
      <img class="navbar-brand" src="{% static 'images/logo.png' %}" href="{% url 'vmb:index' %}" height="80" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">

      <!-- LEFT SIDE -->
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vmb:database' %}">Database</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'vmb:uniform' %}">Uniform</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'vmb:instrument' %}">Instrument</a>
        </li>
        {% endif %}
      </ul>

      <!-- RIGHT SIDE -->
      <ul class="navbar-nav ms-auto align-items-center">
        {% if user.is_authenticated %}
        <li class="nav-item me-3">
          <span class="nav-link fw-bold text-warning fs-4 border border-warning rounded px-2 py-1">
            {{ user.username }}
          </span>
        </li>
        <li class="nav-item">
          <a href="{% url 'vmb:logout' %}" class="nav-link text-light small">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'vmb:login' %}" class="btn btn-primary">Login</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>